# Python
.venv/
venv/
__pycache__/
*.pyc
.env

# OS / IDE
.DS_Store
.idea/
.vscode/

# Data (raw & large)
data/*.txt
data/*.csv

# Exports
exports/*.png
exports/*.csv

# Tableau
*.twb
*.twbx
*.tds
*.tdsx
*.hyper

# Logs / temp
*.log
*.tmp

# Secrets
.streamlit/secrets.toml

# Docs not meant for repo
CASESTUDY.md
RESUME_BULLETS.md